* {
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: system,'Segoe UI',Tahoma,Verdana,sans-serif;    
    background-color: #f7f7f7;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


/********************************
            HEADER BLOCK
********************************/

.header {
	height: 42px;
	background-color: #2573a8;
	color: #fff;
	font-size: 18px;
	padding: 8px 8px 8px 8px;
}

#current_section{
	display: inline-block;
	/* margin: 0 20px 0 0px; */
	/* align-items: center; */
}

.item-system-menu{
	height: 28px;
	padding: 4px 4px 4px 4px;
	float: right;
	border: none;
	
}


/********************************
            MAIN BLOCK
********************************/
.wrapper {
    display: flex;
    flex-direction: row;
	position: relative;
	background-color: #f3f2f1;
    height: 100%;
}

.main-sidebar {
    width: 20%;
}

.main-work {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.toolbar {
    background-color: #c2bec3;
	padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.toolbar-button {
    border: none;
	height: 26px;
	padding: 0 10px 0 10px;
	background: #f0f0f0;
	transition: all 0.15s ease-in 0s;
    min-width: 34px;
    margin-right: 10px;
}

.toolbar-button:hover {
	background: #c9d2d8;
}

#pagination_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pagination_input {
    width: 60px;
    height: 26px;
}

#pagination {
    display: flex;
    flex-direction: row;
}

.active-num-page {
    background-color:#899ec3;
}

.main-table-wrapper {
    height: 100%;
}

.table-list {
    height: 100%;
}

table{
    border-collapse: collapse;
	width: 100%;
}

table,th,td{
    border: 1px solid #ccc;
}

thead {
    background-color: #c9d2d8;
}

tbody tr:nth-child(odd) {
    background-color: #e6edf2;
}

tbody tr:nth-child(even) {
 	background-color: #feffdf;
}

tbody tr:hover {
    background: #446eb6;
    color: #fff;
}


td{
	padding: 3px 3px 3px 3px;
}

.table-list-tr {
    height: 28px;
}

.table-list-th:hover {
    background: #899ec3;
    color: #fff;
}

.table-list-th-id{
	width: 50px;
}

.table-list-td-name {
    max-width: 300px;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.td-size {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-size:hover {
    background: #a0c2fd;
}

.td-active {
    background: #001f54; 
    color: #fff;
}

.tr-active {
    background: #0354e0; 
    color: #fff; 
}


.active-fast-filter {
    border: 2px solid red;
}
/********************************
            FILTER BLOCK
********************************/
.modal-panel {
    position: fixed;
    width:100%;
    height:100%;
    z-index:10; 
    background: rgb(255 255 255 / 50%);
    opacity: 1; 
    left:0;
    top:0;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.modal-panel-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filer-form {
    background: white;
    width: 450px;
    height: 450px;
    z-index: 1; 
    position: relative;
    padding: 5px;
    border: 1px solid black;
    border-radius: 1px;
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;  
}

.but-close-wrapper-modal {
    position: absolute;
    z-index: 2; 
    right: 0px;
    top: 0px;
    margin: 4px;
    height: 24px;
    width: 24px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.filter-tab-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.filer-bottom-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.filer-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}

.filter-list-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/********************************
            FOOTER BLOCK
********************************/

.footer {
    font-size: 14px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/********************************
            DIALOG BLOCK
********************************/

.dialog-form {
    background: white;
    min-width: 250px;
    max-width: 450px;
    min-height: 250px;
    max-height: 450px;
    z-index: auto; 
    position: relative;
    padding: 5px;
    border: 1px solid black;
    border-radius: 1px;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;  
}

.dialog-caption {
    margin-bottom: 10px;
}

.dialog-work-panel {
    height: 100%;
    overflow: auto;
}

.dialog-but-menu {
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: flex-end;
}

.dialog-but-menu-element {
    border-radius: 4px;
    height: 24px;
}